body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2B5F2E; /* Updated background color */
    color: #FFF3E4; /* Updated text color */
}

header {
    background-image: url('header-background.png'); /* Your header image */
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    position: relative;
    height: 150px;
    background-color: transparent; /* Ensuring background is transparent for the gradient */
}

header h1 {
    margin: 0;
    color: #3a5d34; /* Ensuring header text color matches the new text color */
}

#logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 80px;
}

.gradient {
    height: 20px;
    background: linear-gradient(to bottom, rgba(219,204,153,1), rgba(219,204,153,0));
}

main {
    padding: 20px;
    margin: 0 auto; /* Center the main content */
}

.game-description {
    text-align: justify; /* Center aligns the text */
    font-size: 1em;
    margin-bottom: 20px;
}

.game-description h2 {
    text-align: center;
    margin-bottom: 10px;
}

.game-description h3 {
    margin-bottom: 10px;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
    gap: 20px; /* Space between columns */
    padding: 20px; /* Padding inside the container */
}



/* Responsive design */
@media screen and (max-width: 600px) {
    header h1, #logo {
        text-align: left;
    }

    #logo {
        position: static;
        margin: 10px 0;
    }
}
