body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #524A38, #385E34);
    color: #FFF3E4; /* Updated text color */
}

header {
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    position: relative;
    height: 150px;
    background-color: transparent; /* Ensuring background is transparent for the gradient */
}

header h1 {
    position: relative;
    margin: 0;
    color: #3a5d34; /* Ensuring header text color matches the new text color */
}

.header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    height: 120px; /* Adjust size as needed */
    width: auto;
}

.discord-link {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%); /* Vertically center */
}

.discord-logo {
    height: 40px; /* Adjust as needed */
    width: auto;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.discord-link:hover .discord-logo {
    transform: scale(1.1); /* Enlarge the logo by 10% on hover */
}

.gradient {
    height: 20px;
    background: linear-gradient(to bottom, rgba(219,204,153,1), rgba(219,204,153,0));
}

main {
    padding: 20px;
    margin: 0 auto; /* Center the main content */
}

.game-description {
    text-align: justify; /* Center aligns the text */
    font-size: 1em;
    margin-bottom: 20px;
}

.game-description h2 {
    text-align: center;
    margin-bottom: 10px;
}

.game-description h3 {
    margin-bottom: 10px;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
    gap: 20px; /* Space between columns */
    padding: 20px; /* Padding inside the container */
}



/* Responsive design */
@media screen and (max-width: 600px) {
    header h1, #logo {
        text-align: left;
    }

    #logo {
        position: static;
        margin: 10px 0;
    }
}
