body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #524A38, #385E34);
    color: #FFF3E4; /* Updated text color */
}

header {
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    position: relative;
    height: 150px;
    background-color: transparent; /* Ensuring background is transparent for the gradient */
}

header h1 {
    position: relative;
    margin: 0;
    color: #3a5d34; /* Ensuring header text color matches the new text color */
}

.header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    height: 120px; /* Adjust size as needed */
    width: auto;
}

.discord-link {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%); /* Vertically center */
}

.discord-logo {
    height: 40px; /* Adjust as needed */
    width: auto;
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.discord-link:hover .discord-logo {
    transform: scale(1.1); /* Enlarge the logo by 10% on hover */
}

.gradient {
    height: 20px;
    background: linear-gradient(to bottom, rgba(219,204,153,1), rgba(219,204,153,0));
}

main {
    padding: 20px;
    margin: 0 auto; /* Center the main content */
}

.main-content {
    max-width: 600px;
    width: 100%; /* Ensures it doesn't exceed the viewport width */
    margin: 0 auto; /* Center the column */
    padding: 20px; /* Optional padding */
    word-wrap: break-word; /* Breaks long words to prevent overflow */
    overflow-wrap: break-word; /* Ensures overflow text is wrapped */
}

.main-content h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* Example Media Queries */
@media (max-width: 600px) {
    .flex-item {
        flex: 1 1 100%; /* Full width on small screens */
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .flex-item {
        flex: 1 1 50%; /* Two columns on medium screens */
    }
}

@media (min-width: 801px) {
    .flex-item {
        flex: 1 1 33.33%; /* Three columns on large screens */
    }
}



/* Responsive design */
@media screen and (max-width: 600px) {
    header h1, #logo {
        text-align: left;
    }

    #logo {
        position: static;
        margin: 10px 0;
    }
}
